/* 폰트 px 구하기*/
@function rem($px, $base: 16px) {
  @return $px / $base * 1rem;
}

html { font-size:62.5%; } 
body {
  //font-family: 'Noto Sans KR' ; // 한글 선택 일 경우
  //font-family: 'arial'; // 영어, 베트남 언어 선택 일 경우
  overscroll-behavior-y: contain; //  스크롤 새로고침막기
  overflow:hidden;
}
//마우스더블클릭시 선택되는 영역
::selection {
  color:#fff;
  background: #{$primary} ;
}
input[type=checkbox], input[type=radio] {
  accent-color:#{$primary} ;
};
//터치시 하이라이트 현상 제거
*,button,a { -webkit-tap-highlight-color:transparent;}


.lang_eng {
  font-family: 'arial' !important; // 영어, 베트남 언어 선택 일 경우
}
.lang_kor {
  font-family: 'Noto Sans KR' !important ; // 한글 선택 일 경우
}
ul,li {
  list-style: none;
  margin:0;
  padding:0;
}
a {text-decoration: none;}
i {font-style: normal}
.a-r {
  @include flex-align(flex-start, center);

  flex-flow: row nowrap;
}

.a-sb{
  @include flex-align(space-between, center);

  flex-flow: row nowrap;
}
.a-c-s {
  @include flex-align(flex-start, flex-start);

  flex-flow: column wrap;
}
.d_if {display: inline-flex;}
//텍스트 정렬
.t-r{text-align: right !important; }
.t-l{text-align: left !important;}
.t-c{text-align: center !important;}
//글자 색
.fg {color: #407917 !important;}
.fb {color: #333 !important;}
.fblue {color:#2477f3 !important}
.fr{color:#ff6000 !important;}
.underline {text-decoration: underline;}

.border_0{border:0 !important;}
//간격
.pa-0 {padding:0 !important;}
.ml-a{margin-left:auto !important;}
.ml-5{margin-left:0.5rem !important;}
.ml-10{margin-left:1rem !important;}
.mr-10{margin-right:1rem !important;}
.mr-20{margin-right:2rem !important;}
.mr-30{margin-right:3rem !important;}
.mb-15{margin-bottom:1.5rem !important;}
.in_img {
  overflow: hidden;

  img {width: 100%;}
}

.disdabled {
  cursor: no-drop;
  color:#999;
  background:#f3f3f3 !important
}
.w_50 {width:50% !important}
//라인
.ba-0 {border:0 !important;}
.underline{text-decoration: underline !important;}
//필수
.essential {
  display: block;
  position: relative;
  width:100%;

  &::before{
    @include position(absolute,0,auto,auto,.1rem,9);

    content: "";
    display: block;
    border-top:10px solid #70b341;
    border-right:10px solid transparent;
    border-left:0;
    border-bottom:0;

  }
}

.dis_block {display:block !important}
// 홈으로 이동
.btn_home,.btn_top {
  @include position(fixed,auto,1rem,10rem,auto,90);
  @include flex-align(center,center);
  @include size(3.7rem,3.7rem);
  @include borderRadius(.2rem);

  background: #407917;

  > img {width:50%}
}
//최상단 이동
.btn_top{
  bottom:6rem;
  background: rgba(255,255,255,0.2);
  border: 0.1rem solid #407917;
}
//경고문구 안내 아이콘
.alert_txt {
   @include flex-align(flex-start,center);

   font-size: 1.2rem;
   color:#f39703;
   margin-top: 1rem;
}
.modal_btn_contents + .alert_txt {width:100%}
.icon_warning {
  @include size(1.2rem,1.2rem);

  display: block;
  margin-right: 0.5rem;
  background: url("@m/assets/img/icon_warning.png");
  background-size: 100%;
}

.none-display {  display: none !important;}


//테이블

.table {
  table{
    @include size(100%, auto);
  
    table-layout: fixed;
  
    th,td {
      color: #666;
      font-size: 1rem;
      text-align: center;
      vertical-align: middle;
      padding:0.8rem .5rem;
      border:.1rem solid #e4e4e4;
      background: #fff;
      word-break: break-word;
    }
    th{
      color:#333;
      padding:0.8rem .5rem;
      background: #f7f7f7;
    }
    td:empty {height:2.7rem}

    .intable_title {display: inline-flex;}
    .half_cell {
      @include flex-align(center, center);
  
      display: inline-flex;
      width: 50%;
      padding:.8rem 0;
    }
    .half_cell + .half_cell {border-left:.1rem solid #e4e4e4}
  }
}
.table_s02 {
  table{
    @include size(100%, auto);
  
    table-layout: fixed;
  
    th,td {
      color: #000;
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      padding:0.4rem .5rem;
      border:0;
      background: transparent;
      word-break: break-word;
    }
    th{
      font-size: 1rem;
      color:#666;
      font-weight: 500;
      padding:0.4rem .5rem;
      background: transparent;
    }

    
  }
}
.table_row {
  @include flex-align(flex-start,flex-start);

  flex-flow:row nowrap;
  flex-basis:fit-content;
  gap:.5rem;

  .btn_tabel_end,.btn_tabel_cancle{
    @include flex-align(center, center);    
    @include size(6rem, 8.2rem);

    color:#fff;
    font-size: 1rem;
    background: #70b341;
    border:0;
   }
   .btn_tabel_cancle {background: #afafaf;}
}
.in_table {
  td {border-top:0 !important;}
  
  
}

//로딩
.loading{
  position:fixed; 
  width:100%; 
  height:100%; 
  z-index:99999; 
  background-color:#000; 
  opacity:0.3;
  display: BLOCK;
}
.loading .img{text-align:center; position:absolute; top:35%; width:100%;}
.sk-fading-circle {margin: 100px auto;width: 60px;height:60px;position: relative;}
.sk-fading-circle .sk-circle {width: 100%;height: 100%;position: absolute;left: 0;top: 0;}

.sk-fading-circle .sk-circle:before {content: '';display: block;margin: 0 auto;width: 18%;height: 18%;background-color:#fff;border-radius: 100%;
-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;}
.sk-fading-circle .sk-circle2 {-webkit-transform: rotate(30deg);-ms-transform: rotate(30deg);transform: rotate(30deg);}
.sk-fading-circle .sk-circle3 {-webkit-transform: rotate(60deg);-ms-transform: rotate(60deg);transform: rotate(60deg);}
.sk-fading-circle .sk-circle4 {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.sk-fading-circle .sk-circle5 {-webkit-transform: rotate(120deg);-ms-transform: rotate(120deg);transform: rotate(120deg);}
.sk-fading-circle .sk-circle6 {-webkit-transform: rotate(150deg);-ms-transform: rotate(150deg);transform: rotate(150deg);}
.sk-fading-circle .sk-circle7 {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.sk-fading-circle .sk-circle8 {-webkit-transform: rotate(210deg);-ms-transform: rotate(210deg);transform: rotate(210deg);}
.sk-fading-circle .sk-circle9 {-webkit-transform: rotate(240deg);-ms-transform: rotate(240deg);transform: rotate(240deg);}
.sk-fading-circle .sk-circle10 {-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg);}
.sk-fading-circle .sk-circle11 {-webkit-transform: rotate(300deg);-ms-transform: rotate(300deg);transform: rotate(300deg); }
.sk-fading-circle .sk-circle12 {-webkit-transform: rotate(330deg);-ms-transform: rotate(330deg);transform: rotate(330deg); }
.sk-fading-circle .sk-circle2:before {-webkit-animation-delay: -1.1s;animation-delay: -1.1s; }
.sk-fading-circle .sk-circle3:before {-webkit-animation-delay: -1s;animation-delay: -1s; }
.sk-fading-circle .sk-circle4:before {-webkit-animation-delay: -0.9s;animation-delay: -0.9s; }
.sk-fading-circle .sk-circle5:before {-webkit-animation-delay: -0.8s;animation-delay: -0.8s; }
.sk-fading-circle .sk-circle6:before {-webkit-animation-delay: -0.7s;animation-delay: -0.7s; }
.sk-fading-circle .sk-circle7:before {-webkit-animation-delay: -0.6s;animation-delay: -0.6s; }
.sk-fading-circle .sk-circle8:before {-webkit-animation-delay: -0.5s;animation-delay: -0.5s; }
.sk-fading-circle .sk-circle9:before {-webkit-animation-delay: -0.4s;animation-delay: -0.4s;}
.sk-fading-circle .sk-circle10:before {-webkit-animation-delay: -0.3s;animation-delay: -0.3s;}
.sk-fading-circle .sk-circle11:before {-webkit-animation-delay: -0.2s;animation-delay: -0.2s;}
.sk-fading-circle .sk-circle12:before {-webkit-animation-delay: -0.1s;animation-delay: -0.1s;}
@-webkit-keyframes sk-circleFadeDelay {0%, 39%, 100% { opacity: 0; }40% { opacity: 1; }}
@keyframes sk-circleFadeDelay {0%, 39%, 100% { opacity: 0; }40%{ opacity: 1; } }